@using Microsoft.AspNetCore.Identity
@using testeNav.Models
@model testeNav.Models.HomeViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nav.css" />

    <link rel="stylesheet" href="~/css/responsivo.css" />

    <link rel="stylesheet" href="~/css/carrousel.css" />
    <link rel="stylesheet" href="~/css/CardProduto.css" />


</head>

@{
    ViewData["Title"] = "Home";
    var vendedores = await UserManager.GetUsersInRoleAsync("Vendedor");
}

<div class="headerResponsive" >
    <div class="logo1">
        <img src="~/img/Logo.svg" />
        <p style="color: white">EcoAgrícola</p>
    </div>
    <button style="background-color: transparent; border: none;" id="menuopen" onclick="menuOpen()">
        <i class="bi bi-list"></i>
    </button>
</div>

<div id="sidebarResponsive">
    <div id="nav">

        <button id="menuclose" class="navitem" style="background-color: transparent; border: none;" onclick="menuclose()">
            <i class="bi bi-x-lg"></i>
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Fechar</a>
        </button>

        <!-- Home -->
        <div class="navitem">
            <i class="fa-solid fa-house icon"></i>
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
        </div>
        <!-- Produtos -->
        <div class="navitem">
            <i class="fa-solid fa-leaf icon"></i>
            <a class="" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a>
        </div>
        <!-- Agricultores -->
        <div class="navitem">
            <i class="fa-solid fa-user icon"></i>
            <a class="" asp-area="" asp-controller="Agricultores" asp-action="agricultores">Agricultores</a>
        </div>
        <!-- Mapa -->
        <div class="navitem">
            <i class="fa-solid fa-user icon"></i>
            <a class="" asp-area="" asp-controller="Mapa" asp-action="Mapa">Mapa</a>
        </div>

        <!-- Compras -->
        <div class="navitem">
            <i class="bi bi-basket-fill icon"></i>
            <a class="" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
        </div>
        <!-- Carrinho -->
        <div class="navitem">
            <i class="fa-solid fa-cart-shopping icon"></i>
            <a class="" asp-area="" asp-controller="Carrinho" asp-action="Index">Carrinho</a>
        </div>
        <!-- Sobre -->
        <div class="navitem">
            <i class="bi bi-info-circle icon"></i>
            <a class="" asp-area="" asp-controller="About" asp-action="about">Sobre</a>
        </div>
    </div>
    <div class="line white"></div>
    <div id="bottom">
        <partial name="_LoginPartial" />
    </div>
</div>


<div id="main">
    <p class="first hidden">Início</p>
    <div class="line pad hidden"></div>
    <div class="slideshow-container">

        <div class="mySlides fade" style="opacity: 100%;">
            <img src="~/img/banner/1.png" style="width:100%">
        </div>

        <div class="mySlides fade" style="opacity: 100%;">
            <img src="~/img/banner/2.png" style="width:100%">
        </div>

        <div class="mySlides fade" style="opacity: 100%;">
            <img src="~/img/banner/3.png" style="width:100%">
        </div>
    </div>
    <div id="SearchContainer">
        <a id="div_agricultor" href="#div_agricultor"><p>Agricultores</p></a>
    </div>
    <div class="line pad"></div>

    <div class="d-flex flex-wrap" id="agricultorDiv">
        @if (vendedores != null && vendedores.Any())
        {
            @foreach (var vendedor in vendedores.Take(6))
            {
                var fotoUser = !string.IsNullOrEmpty(vendedor.foto) ? vendedor.foto : "default.jpg";

                <div class="text-center mx-3" style="width: 130px; ">
                    <img src="~/img/@fotoUser" alt="@vendedor.UserName" class="rounded-circle" width="130" height="130" style="cursor: pointer;" />
                    <p>@vendedor.UserName</p>
                </div>
            }
        }
        else
        {
            <p class="text-center">Nenhum agricultor encontrado.</p>
        }
    </div>


        <form>
            <div id="SearchContainer">
                <a id="div_produtos" href="#div_produtos"><p>Produtos</p></a>
            </div>
        </form>


    </div>
<div class="line pad"></div>

    @* Produtos Ativos *@
    <div class="cardline"
         style="
        display: flex;
        flex-wrap: wrap;
    ">
    @if (Model.ProdutosAtivos != null && Model.ProdutosAtivos.Any())
{
    @foreach (var produto in Model.ProdutosAtivos.Take(3))
    {
        <div class="cardProduto">

            <div class="imgcard"
                 style="
                    display: flex;
                    border-radius: 20px;
                    width: 100%;
                    height: 60%;
                    overflow: hidden;
                    background-color: #fff;
                    justify-content: center;
                    align-items: center;
                    ">

                @if (!string.IsNullOrEmpty(produto.ImagemUrl))
                {
                    <img src="@Url.Content(produto.ImagemUrl)" class="item" alt="Imagem do produto" style="

                        width: 100%;
                        height: 100%;
                        text-align: center;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-bottom: 10px;
                                     ">
                }
                else
                {
                    <img src="~/img/Logo.svg" alt="Imagem não disponível" class="item"> 
                }
            </div>

            <div class="text" style="display: flex; flex-direction: column; text-align: start; width: 100%; padding-right:15px">

                <h2 style="font-size: 1.4em">@produto.Nome</h2>

                <div class="cardprice" style="display: flex; justify-content: space-between;">

                    <p>@produto.Nome</p>

                    <span style="color: var(--main-green)">R$ @produto.Preco</span>

                </div>

                <button style="width: 100%; height: 40px; border: none; background-color: var(--main-green); color: white; border-radius: 5px; margin-bottom: 5px">
                    <a href="@Url.Action("AdicionarAoCarrinho","Carrinho", new { id = produto.Id })" style="color: white">Adicionar ao Carrinho</a>
                </button>
            </div>
        </div>
    }
}
else
{
    <p>Nenhum produto encontrado.</p>
}

</div>

<script src="~/js/site.js"></script>

<style>
    #agricultorDiv{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }
</style>